<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="style.css">
    <script src="app.js" defer></script>
    <script src="script.js" defer></script>
</head>
<body>

    <h1>Todo App</h1>

    <input type="text" id="title" placeholder="Enter Title" class="title-input">
    <br>
    <input type="text" id="description" placeholder="Enter Description" class="description-input">
    <div class="containerbtn">
        <button class="submit-button">Add Todo</button>
        <button id="get">Get Todos</button>
    
    </div>

    <div class="output"></div>

</body>
</html>
